#background-image {

	background-image: url("pexels-photo-399161.jpeg");
	z-index: -1;	

	width: 100%;

}
.topnav {
    background-color: #333;
    overflow-x: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 20;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
#resume_help
{
	background-color: #dadbf9;
	width: 100%;
	height: 60px;
}
/*.*{
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}*/
#name { 
	font-family: Lobster; 
	text-align: center;color: black;
	z-index: 1;
	padding: 0;

}
.myimage
{
	margin-top: 50px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	z-index: 1;
}
.intro
{
	margin-right: 50px;
	margin-top: 30px;
	margin-left: 50px;

}
#projects
{
	color: black;
}
.aboutme
{
	font-family: Roberto;
	color: black;
	font-size: 20px;
}
.hail
{
	font-family: Roberto;
	text-align: center;
	
}
.hail li
{
	display: inline;
}
.interests
{
	
	text-align: center;
}
#description{
margin-left: 5%;

background-color: #dadbf9;

height: 100%;

padding-bottom: 1%;

padding-top: 1%;

padding-right: 1%;
margin-top: 1%;
padding-left: 3%;
font-family: Roberto;
}
#project-heading
{
	text-align: left;
	font-family: Roberto;
}
#resume
{
	font-family: Roberto;
	color: black;

}
.interests li
{
	display: inline;
}
.academics{
	padding: 10px;
	color: black;
	text-align: center;

}
.coursestaken
{
	
}
.coursetype
{
	text-align: center;
	color: black;
	margin: 0 auto;
}
.hrd
{
	    border-top: 1px solid #333;
}

.skill
{
	
}
.skill_div
{
	padding: 10px;
	text-align: center;
}
.row
{
	width: 100%;
	margin-left: 2%;
}